.aaa {
    font-family: Arial, Helvetica, sans-serif;
}

.bbb {
    font-weight: 700;
    font-size: 150%;
}

.inherit-font {
    font-weight: lighter;
    font-size: 40%;
}

.size {
    font-size: 20px;
}

.italic {
    font-family: Times;
    font-style: italic;
}

.oblique {
    font-family: Times;
    font-style: oblique;
}

.variant {
    font-variant: small-caps;
    font-size: 20px;
}

.stretch {
    font-stretch: condensed;
    font-size: 20px;
}